<launch>

   <master auto="start"/>
 <!-- Run the map server --> 
   <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find pleiades_urdf_description)/map/f3205_map.yaml.yaml"/>-->

 <!--- Run AMCL --> 
  <!--  <include file="$(find amcl)/examples/amcl_diff.launch" />-->


   <node pkg="move_base" type="move_base" respawn="false" name="move_base" args="cmd_vel:=/cmd_vel" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find pleiades_urdf_description)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    
    <rosparam file="$(find pleiades_urdf_description)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find pleiades_urdf_description)/params/costmap_local_params.yaml" command="load" />

    <rosparam file="$(find pleiades_urdf_description)/params/costmap_global_params.yaml" command="load" /> 

    <rosparam file="$(find pleiades_urdf_description)/params/dwa_local_planner_params.yaml" command="load" />
     <rosparam file="$(find pleiades_urdf_description)/params/movebase_params.yaml" command="load" />
     
     <remap from="odom" to="odometry/filtered"/>
 </node>
 
  
</launch>
